<!DOCTYPE html>
<html>
<head>
	<title>Titanic predictor</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
	<div class="container mt-5 mb-5">
		<h1>Would you survive disaster?</h1>
		<h2>Do you have what it takes to make it out alive?</h2>
		<div style="width:80%;height:0;padding-bottom:58%;position:relative;"><iframe src="https://giphy.com/embed/Uj3SeuVfg2oCs" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/titanic-Uj3SeuVfg2oCs">via GIPHY</a></p>
		<h2>Fill in the form and find out!</h2>
		<form action="http://127.0.0.1:5000/predict" method="POST">
		  <div class="form-group">
		    <label for="exampleInputEmail1">Name</label>
		    <input name="name" type="text" class="form-control" placeholder="Name">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Age</label>
		    <input name="age" type="number" class="form-control" id="exampleInputPassword1" placeholder="Age">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Gender</label> <br>
		    <input type="radio" name="gender" value="0"> Male<br>
				<input type="radio" name="gender" value="1"> Female
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Number of brothers and sisters</label>
		    <input name="sibs" type="number" class="form-control" id="exampleInputPassword1" placeholder="Brothers and sisters">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Number of parents</label>
		    <input name="pars" type="number" class="form-control" id="exampleInputPassword1" placeholder="Parents">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Embarked from port</label> <br>
		    <input type="radio" name="embarked" value="0"> Cherbourg<br>
				<input type="radio" name="embarked" value="1"> Southampton<br>
				<input type="radio" name="embarked" value="2"> Queenstown
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Class</label> <br>
		    <input type="radio" name="class" value="1"> 1st ($30 000)<br>
				<input type="radio" name="class" value="2"> 2nd ($1000)<br>
				<input type="radio" name="class" value="3"> 3rd ($500)
		  </div>
		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>