<html>
  <head>
    <title>Titanic: Would you survive disaster?</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
  </head>
  <body>
    <section class="section">
      <div class="container">
        <a href="/"><h1 class="title is-1">Titanic Survival Predictor</h1></a>
        <h3 class="subtitle is-3">Would you have survived disaster?</h3>
        <hr>
        {% if good %}
        <div class="message is-success">
          <div class="message-header">
            <p>Results</p>
          </div>
          <div class="message-body">
            <h1 class="title is-3">Chance of survival: {{result}}%</h1>
            <h1 class="subtitle is-5">{{message}}</h1>
          </div>
        </div>
        {% endif %}
        {% if meh %}
        <div class="message is-warning">
          <div class="message-header">
            <p>Results</p>
          </div>
          <div class="message-body">
            <h1 class="title is-3">Chance of survival: {{result}}%</h1>
            <h1 class="subtitle is-5">{{message}}</h1>
          </div>
        </div>
        {% endif %}
        {% if sad %}
        <div class="message is-danger">
          <div class="message-header">
            <p>Results</p>
          </div>
          <div class="message-body">
            <h1 class="title is-3">Chance of survival: {{result}}%</h1>
            <h1 class="subtitle is-5">{{message}}</h1>
          </div>
        </div>
        {% endif %}
      </div>
    </section>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Titanic Predictor</strong> by <a href="https://github.com/carlojacobs">Carlo Jacobs</a>. The source code is licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
        </p>
      </div>
    </footer>
  </body>
  <style>
    footer {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
  </style>
</html>
